<!DOCTYPE html>
<html lang="en">
<head>
    <title>Destination Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Destinationpage.css">
</head>
<body>
 <div class="navbar">
    <nav>
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a class="Active"href="Destinationpage.html">Destination</a></li>
            <li><a href="Costcalculation.html">Cost Calculation</a></li>
            <li><a href="map.html">Map</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <input type="text" placeholder="Search">
        <!--<a href="profile.html"><i class='fas fa-user-circle' style='font-size:24px'></i></a>-->
   		<a href="profile.html"><img src="../static/images/profile.jpg" alt="profile"></a>
    </div>
</div>

<div class="multi">
    
    <div class="destination-card">
        <img id="rotating-image" src="../static/images/homeimage1.png" alt="Destination Image" onclick="changeImage()">
        <div class="destination-info">
            <h3>Beautiful Destination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et libero euismod, condimentum libero non, sodales nisi.</p>
            <p>Nullam fringilla ex id tempor venenatis. Sed et turpis vel lorem convallis laoreet eu et arcu.</p>
        </div>
    </div>
    <div class="destination-card">
        <img id="rotating-image" src="../static/images/homeimage1.png" alt="Destination Image" onclick="changeImage()">
        <div class="destination-info">
            <h3>Beautiful Destination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et libero euismod, condimentum libero non, sodales nisi.</p>
            <p>Nullam fringilla ex id tempor venenatis. Sed et turpis vel lorem convallis laoreet eu et arcu.</p>
        </div>
    </div>
    <div class="destination-card">
        <img id="rotating-image" src="../static/images/homeimage1.png" alt="Destination Image" onclick="changeImage()">
        <div class="destination-info">
            <h3>Beautiful Destination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et libero euismod, condimentum libero non, sodales nisi.</p>
            <p>Nullam fringilla ex id tempor venenatis. Sed et turpis vel lorem convallis laoreet eu et arcu.</p>
        </div>
    </div>
    <div class="destination-card">
        <img id="rotating-image" src="../static/images/homeimage1.png" alt="Destination Image" onclick="changeImage()">
        <div class="destination-info">
            <h3>Beautiful Destination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et libero euismod, condimentum libero non, sodales nisi.</p>
            <p>Nullam fringilla ex id tempor venenatis. Sed et turpis vel lorem convallis laoreet eu et arcu.</p>
        </div>
    </div>
    <div class="destination-card">
        <img id="rotating-image" src="../static/images/homeimage1.png" alt="Destination Image" onclick="changeImage()">
        <div class="destination-info">
            <h3>Beautiful Destination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et libero euismod, condimentum libero non, sodales nisi.</p>
            <p>Nullam fringilla ex id tempor venenatis. Sed et turpis vel lorem convallis laoreet eu et arcu.</p>
        </div>
    </div>
    <div class="destination-card">
        <img id="rotating-image" src="../static/images/homeimage1.png" alt="Destination Image" onclick="changeImage()">
        <div class="destination-info">
            <h3>Beautiful Destination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et libero euismod, condimentum libero non, sodales nisi.</p>
            <p>Nullam fringilla ex id tempor venenatis. Sed et turpis vel lorem convallis laoreet eu et arcu.</p>
        </div>
    </div>
    <!-- Add more cards as needed -->
</div>

</body>
</html>
