<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/map.css">
  </head>
  <body>
  <!--Nav Bar Code Begins From Here-->    
  <div class="navbar">
    <nav>
        <ul>
            <li><a href="/home/#home" onclick="scrollToHome()">Home</a></li>
            <li><a href="/home/#Destination" onclick="scrollToDestination()">Destination</a></li>
            <li><a href="/home/#CostCalculation" onclick="scrollToCostCalculation()">Cost Calculation</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/profile"><lord-icon
              src="https://cdn.lordicon.com/kthelypq.json"
              trigger="hover"
              style="width:30px;height:30px;margin-left:10px;color:black;">
          </lord-icon></a></li>
        </ul>
    </nav>
</div>
<!--Nav Bar Code Ends Here-->
    <div class="map">
      
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594654.319443038!2d81.49003467605189!3d28.376844906183134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995e8c77d2e68cf%3A0x34a29abcd0cc86de!2sNepal!5e0!3m2!1sen!2snp!4v1711512569382!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>  
    <script src="https://cdn.lordicon.com/lordicon.js"></script>  
  </body>
</html>